.card-container {
  position: absolute;
  width: 18em;
  height: 18em;
}

.card {
  position: absolute;
  border: 1px dashed rgba(255, 255, 255, 0.3);
  border-radius: 6%;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  will-change: transform, opacity;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 4em;
  backface-visibility: hidden;
  box-shadow: 0px 6px 10px 0 hsla(0, 0%, 0%, 0.2);
  color: white;
  flex-direction: column;
  padding: 1.8em;
  font-size: 0.9em;
}

.card__content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: none;
  resize: none;
  cursor: pointer;
  text-align: left;
  height: 76%;
  padding: 0;
  margin: 0;
  background: transparent;
  color: white;
  font-size: 2.4em;
  line-height: 1.1em;
  padding-top: 0.2em;
  font-weight: 700;
  letter-spacing: -0.8px;
  -webkit-appearance: textfield;
}

.card__header {
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  text-align: left;
}

.back .card__header {
  text-align: right;
}

.back,
.card__content--back {
  text-align: right;
}

.card__content:focus {
  outline: 0;
}

.card__delete {
  position: absolute;
  z-index: 10;
  bottom: 1em;
  left: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 1em;
  margin: 0;
  border: none;
  color: rgba(255, 255, 255, 0.4);
  color: dimgray;
}

.card__delete:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
}

.card__flip {
  position: absolute;
  bottom: 1.6em;
  right: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 14px;
  margin: 0;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 1px;
}

.card__flip:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
}

.card__nailed-it {
  position: absolute;
  z-index: 10;
  bottom: 1.6em;
  left: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.6em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 14px;
  margin: 0;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
}

.card__button-icon {
  margin-right: 0.3em;
}
