.card-container {
  position: relative;
  width: 18em;
  height: 18em;
  min-width: 18em;
  min-height: 18em;
  margin: 1em;
}

.card {
  position: absolute;
  background-color: #05061a;
  border-radius: 10%;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  will-change: transform, opacity;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  box-shadow: 0 8px 12px 0 hsla(0, 0%, 0%, 0.4);
}

.card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: left;
  vertical-align: middle;
  resize: none;
  cursor: pointer;
  background-color: #05061a;
  color: #fefefe;
  font-size: 1.4em;
  padding: 1.8em;
}

.back,
.card__content--back {
  background-color: antiquewhite;
  color: #05061a;
}

.card__content:focus {
  outline: 0;
}

.card__delete {
  position: absolute;
  bottom: 1.6em;
  left: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em;
  margin: 0;
  font-size: 1em;
  color: #fefefe;
  border-color: #323566;
}

.card__delete:hover {
  background-color: antiquewhite;
  border-color: #05061a;
  color: #05061a;
}

.card__delete--back {
  border-color: #bcbdd2;
  color: #05061a;
}

.card__delete--back:hover {
  background-color: #05061a;
  border-color: #05061a;
  color: antiquewhite;
}

.card__edit {
  position: absolute;
  top: 1em;
  right: 4em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em;
  font-size: 0.8em;
}

.card__edit:hover {
  background-color: antiquewhite;
  border-color: #05061a;
  color: #05061a;
}

.card__edit--back {
  border-color: #bcbdd2;
  color: #05061a;
}

.card__edit--back:hover {
  background-color: #05061a;
  border-color: #05061a;
  color: antiquewhite;
}

.card__flip {
  position: absolute;
  bottom: 1.6em;
  right: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  height: 2.4em;
  color: #fefefe;
  border-color: #323566;
}

.card__flip:hover {
  background-color: antiquewhite;
  border-color: #05061a;
  color: #05061a;
}

.card__flip--back {
  border-color: #bcbdd2;
  color: #05061a;
}

.card__flip--back:hover {
  background-color: #05061a;
  border-color: #05061a;
  color: antiquewhite;
}
