.card-container {
  position: relative;
  width: 12em;
  height: 12em;
  min-width: 12em;
  min-height: 12em;
  margin: 1em;
}

.card {
  position: absolute;
  border: 2px solid coral;
  border-radius: 10%;
  text-align: center;
  width: 12em;
  height: 12em;
  min-width: 12em;
  min-height: 12em;
  cursor: pointer;
  will-change: transform, opacity;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.back,
.card__content--back {
  background-color: coral;
  color: antiquewhite;
}

.card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  resize: none;
  cursor: pointer;
}

.card__content:focus {
  outline: 0;
}

.card__delete {
  position: absolute;
  top: 1em;
  right: 1em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em;
  font-size: 0.8em;
}

.card__delete--back {
  border-color: antiquewhite;
  color: antiquewhite;
}

.card__edit {
  position: absolute;
  top: 1em;
  right: 4em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em;
  font-size: 0.8em;
}
