.deck {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
}

.deck__name {
  margin-top: 0.4em;
  margin-left: 0.5em;
  border: none;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  font-size: 2em;
  font-weight: 700;
  color: #faecef;
}

.deck__name:focus {
  outline: none;
}

.deck__stats {
  margin-left: 16px;
  margin-bottom: 1em;
  margin-top: 0.2em;
  color: #faecef;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.deck__stats--percentage {
  color: #ff1747;
}

.deck__actions-menu {
  display: flex;
  padding-left: 1em;
}

.deck__card-list {
  z-index: 2;
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  height: 20em;
  padding: 1em;
}

.deck__add-card,
.deck__shuffle-cards,
.deck__edit-deck-name,
.deck__delete-deck {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  font-size: 1em;
  padding: 0.6em;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.02);
  border: none;
  margin-right: 0.6em;
}

.deck__add-card {
  background-color: rgba(255, 255, 255, 0.2);
}
