.n-deck {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  padding-bottom: 2em;
}

.n-deck-name {
  display: block;
  margin-bottom: 1em;
  margin-left: 1em;
  border: none;
  text-align: left;
  resize: none;
  cursor: pointer;
  overflow: hidden;
  overflow-wrap: break-word;
}

.n-deck-name:focus {
  outline: none;
}

.n-deck-menu {
  display: flex;
  margin-bottom: 1em;
}

.n-deck-cards {
  display: flex;
}

.deck-name__edit {
  position: absolute;
  left: 20em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em;
  font-size: 0.8em;
}
