.deck {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
}

.deck__name {
  margin-top: 0.4em;
  margin-bottom: 1em;
  margin-left: 0.5em;
  border: none;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.8em;
  font-weight: 700;
  color: #faecef;
}

.deck__name:focus {
  outline: none;
}

.deck__actions-menu {
  display: flex;
  margin-bottom: 1em;
}

.deck__card-list {
  display: flex;
  position: relative;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  height: 20em;
  padding: 1em;
}

.deck__name--edit {
  position: absolute;
  left: 20em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em;
  font-size: 0.8em;
}

.deck__add-card {
  font-size: 1em;
  padding-left: 6px;
  padding-right: 6px;
  line-height: 1em;
}

.deck__shuffle-cards {
  text-transform: uppercase;
  font-size: 0.8em;
  border: none;
}
