@import "./Deck/styles.css";
@import "./Card/styles.css";

body {
  display: flex;
  justify-content: center;
  background-color: g;
}

.app {
  width: 90vw;
}

.header {
  width: 100%;
  border-bottom: 1px solid #05061a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

button {
  background-color: transparent;
  border: 2px solid #05061a;
  border-radius: 2em;
  line-height: 2em;
  margin-left: 1em;
  padding-left: 1.6em;
  padding-right: 1.6em;
  font-weight: 700;
}

button:hover {
  background-color: coral;
  color: whitesmoke;
}

button:focus {
  outline: 0;
}

h2 {
  font-weight: 500;
  font-size: 1em;
  vertical-align: baseline;
  line-height: 2em;
}

.divider {
  background-color: coral;
  width: 100%;
  height: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media (max-width: 599px) {
  .app {
    width: 100vw;
  }
}
