@import "./../utilities/reset.css";
@import "./Deck/styles.css";
@import "./Card/styles.css";

body {
  display: flex;
  justify-content: center;
  background-color: #0d0c0c;
  font-family: Helvetica, sans-serif;
}

.app {
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;
}

.header__left-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  margin-left: 10em;
}

.footer {
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.8em;
  padding: 6em;
}

button {
  background-color: transparent;
  border: 1px solid #ced4d9;
  color: #ced4d9;
  border-radius: 2em;
  line-height: 2em;
}

button:hover {
  background-color: #030508;
  color: whitesmoke;
}

button:focus {
  outline: 0;
}

h2 {
  font-weight: 500;
  font-size: 1em;
  vertical-align: baseline;
  line-height: 2em;
}

.divider {
  background-color: rgba(255, 255, 255, 0.1);
  width: 98%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

#sign-in {
  line-height: 2em;
  font-size: 0.8em;
  padding-left: 1.6em;
  padding-right: 1.6em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  background-color: #ff2281;
  border: none;
  color: white;
  font-weight: 600;
}

.add-deck {
  line-height: 2em;
  font-size: 0.8em;
  padding-left: 1.6em;
  padding-right: 1.6em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: white;
  font-weight: 600;
  margin-left: 1.2em;
}

@media (max-width: 599px) {
  .app {
    width: 100vw;
  }
  .main {
    margin: 0;
  }
}
