@import "./../utilities/reset.css";
@import "./Deck/styles.css";
@import "./Card/styles.css";

body {
  display: flex;
  justify-content: center;
  background-color: #0d0c0c;
  font-family: Helvetica, sans-serif;
}

.app {
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;
}

.header__left-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  margin-left: 10em;
}

.footer {
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.8em;
  padding-top: 6em;
  padding-bottom: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: transparent;
  border-radius: 2em;
  line-height: 2em;
}

button:focus {
  outline: 0;
}

h2 {
  font-weight: 500;
  font-size: 1em;
  vertical-align: baseline;
  line-height: 2em;
}

#sign-in {
  line-height: 2em;
  font-size: 0.8em;
  padding-left: 1.6em;
  padding-right: 1.6em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border: none;
  color: white;
  font-weight: 700;
}

.add-deck {
  line-height: 2em;
  padding-left: 1.4em;
  padding-right: 1.8em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  border: 1px solid #f46c37;
  background-color: #f46c37;
  color: white;
  margin-left: 12px;
}

.add-deck__icon {
  margin-right: 0.2em;
  font-size: 1.2em;
}

.add-deck:hover {
  border: 1px solid #f46c37;
  background-color: white;
  color: #f46c37;
}

@media (max-width: 599px) {
  .app {
    width: 100vw;
  }
  .main {
    margin: 0;
    padding-left: 1em;
  }
  .add-deck {
    margin-top: 1.2em;
    width: 90%;
  }
}
